<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>youre just jealous..... of what, those ugly leather pants!!!!!!</title>
    <style>
        .container{
            display:flex;
            justify-content: space-around;
            gap: 20px;
            flex-wrap: wrap;
        }

        .boxes{
            background-color:{{color}};
            border:rgb(120 144 169) 5px 5px;
            height:300px;
            width:300px;
            
        }
    </style>
</head>
<body>
    <div class="container">
        {% for i in range(num) %}
        <div class="boxes"></div>
        {% endfor %}
    </div>
</body>
</html>